@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;

  display: grid;
  min-height: 100vh;
}

p {
  text-align: center;
  color: rgb(255, 0, 0);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}

th {
  background: #d8eded;
}

td, th {
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
  text-align: center;
  display: grid;
  background:#d8eded;
}

.input-div {
  text-align: center;
}